<nav>
    <h1>Connecticube</h1>
    <!--<a href="#!logout">Déconnexion</a>-->
    <a href="#!profile" class="profile">{{ user.username }}</a>
</nav>

<div class="container">
	<a ng-repeat="project in user.projects track by $index" ng-click="loadProject($index)">
		<h3>{{ project.title }}</h3>
	</a>
</div>