<div ng-controller="loginController" class="container">
    
	<h3>Connexion</h3>

    <div class="row">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" id="username" ng-model="username">
    </div>

    <div class="row">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" ng-model="password">
    </div>


    <div class="row">
        <button ng-click="login()">Connexion</button>
    </div>

</div>