<nav>
	<a href="#!app" class="back">
		<span class="arrow"></span>
	</a>
	<h1>Profile</h1>
    <a href="#!logout" class="logout">Déconnexion</a>
	<div class="clear"></div>
</nav>

<div class="container">
	<section>
		<p>Nom d'utilisateur</p>
		<input type="text" name="username" id="username" ng-model="user.username">
	</section>
	<section>
		<p>Adresse mail</p>
		<input type="email" name="email" id="email" ng-model="user.email">
	</section>
	<section>
		<p>Mot de passe</p>
		<input type="password" name="password" id="password" ng-model="user.password">
	</section>
</div>