<nav>
	<a href="#!app" class="back">
		<span class="arrow"></span>
	</a>
	<h1><input type="text" ng-model="project.title" value="project.title"></h1>
	<button ng-click="updateProject()" class="delete">Save</button>
    <button ng-click="deleteProject()" class="delete">Delete</button>
	<a href="#!profile" class="profile">{{ user.username }}</a>
	<div class="clear"></div>
</nav>

<div class="container">
	<p>Temps total - <span>{{ project.time | date : 'HH:mm:ss' : '+000' }}</span></p>
	<table>
		<thead>
			<tr>
				<td>Date</td>
				<td>Durée</td>
				<td>Tâche</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="session in project.sessions track by $index">
				<td>{{ session.start | date : 'dd/MM' }}</td>
				<td>{{ session.duration | date : 'HH:mm:ss' : '+000' }}</td>
				<td>
					<input type="text" ng-model="project.sessions[$index].description" value="session.description">
					<button class="btn" ng-click="deleteSession($index)">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>