<div ng-controller="registerController" class="container">

	<h3>Enregistrement</h3>
    
	<div class="left">
		<div class="row">
			<label for="username">Nom d'utilisateur</label>
			<input type="text" name="username" id="username" ng-model="data.username">
		</div>


		<div class="row">
			<label for="email">Adresse email</label>
			<input type="email" name="email" id="email" ng-model="data.email">
		</div>
	</div>

	<div class="right">
		<div class="row">
			<label for="password">Mot de passe</label>
			<input type="password" name="password" id="password" ng-model="data.password">
		</div>

		<div class="row">
			<label for="_password">Répétez le mot de passe</label>
			<input type="password" name="_password" id="_password" ng-model="_password">
		</div>
	</div>


    <div class="row button">
        <button ng-click="register()">Créer un compte</button>
    </div>

</div>