.login nav{background:#969696}
.login .container{width:240px;font-size:20px;color:#000}
.login .container h3{font-size:18px;text-align:center}
.login .container .row{margin:54px auto}
.login .container input,.login .container label{display:block}
.login .container label{margin-bottom:18px}
.login .container label:nth-child(3){margin-top:54px}
.login .container input{width:100%;box-sizing:border-box;padding:0 18px 9px 0;font-size:16px;text-align:right;font-family:Roboto;border-bottom:1px solid #767676}
.login .container ::-webkit-input-placeholder{text-align:right;color:#000;opacity:.7}
.login .container :-moz-placeholder{text-align:right;color:#000;opacity:.7}
.login .container ::-moz-placeholder{text-align:right;color:#000;opacity:.7}
.login .container :-ms-input-placeholder{text-align:right;color:#000;opacity:.7}
.login .container button{display:block;margin:64px auto 32px;padding:18px;font-size:20px;font-family:Roboto;cursor:pointer;color:#fff;background:#969696;border:none;-webkit-transition:opacity .2s;transition:opacity .2s}
.login .container button:hover{opacity:.7}
